.content{
    line-height: 1.5rem;
}

.content h1{
    line-height: 2.5rem; 
    margin-top: 0;
}
  
  @media (max-width: 768px) {

    
    .content h2  {
        font-size: 20px;
        margin-bottom: 0.5rem;
        
    }

    .content h1  {
        font-size: 22px;
        margin-bottom: 0.5rem;
        line-height: 1.5em;
        
    }

    .content h3  {
        font-size: 18px;
        margin-bottom: 0.5rem;
        
    }

  }