.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: #d4cfca;
  color: #222;
  margin-top: 0;
  margin-bottom: 1px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.title {
  font-size: 24px;
}

.carouselContainer {
  width: 90%;
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  object-fit: cover;
  display: block;
  margin: 40px auto 10px;
  border-radius: 20px;
}

.cardText {
  padding: 10px;
  flex: 1;
  line-height: 1.6;
  font-size: 16px;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden;    /* Hides text that goes beyond the bounds */
  text-overflow: ellipsis; /* Adds ellipsis when text overflows */
}


.customPrevArrow, .customNextArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: #fff; /* Beyaz arka plan */
  color: #2e5077; /* Mavi ok renk */
  border-radius: 50%;
  padding: 6px 12px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease, color 0.3s ease; /* Renk değişikliği için geçiş efekti */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 10;
}


.customPrevArrow:hover, .customNextArrow:hover {
  background: #2e5077; /* Mavi arka plan */
  color: #fff; /* Beyaz ok renk */
}

.customPrevArrow {
  left: -40px;
}

.customNextArrow {
  right: -40px;
}

@media screen and (min-width: 900px) and (max-width: 1024px) {
  .title {
    font-size: 20px;
  }
  .customPrevArrow {
    left: -30px;
  }
  .customNextArrow {
    right: -30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 900px) {
  .title {
    font-size: 20px;
  }
  .customPrevArrow {
    left: -10px;
  }
  .customNextArrow {
    right: -10px;
  }
  .cardImage {
    width: 240px; /* İstediğiniz genişlik */
    height: auto; /* Yüksekliği orantılı olarak ayarla */
    object-fit: cover; /* Görseli kırpma veya sığdırma */
  }
  .rightArrow, .leftArrow {
    padding: 9px 14.5px; /* Adjust padding accordingly */
    font-size: 16px;

  }
}


@media (max-width: 767px) {
  .container {
    justify-content: flex-start;
  }

  .title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .customPrevArrow, .customNextArrow {
    padding: 6px 9px;
    font-size: 12px;
  }

  .customPrevArrow {
    left: 0px;
  }
  .customNextArrow {
    right: 0px;
  }
  .card:hover {
    transform: none;
    transition: none;
  }

  .cardImage {
    width: 100%; /* Ekran genişliğine göre ayarla */
    max-width: 240px;
    height: auto; /* Yüksekliği orantılı olarak ayarla */
    object-fit: cover; /* Görseli kırpma veya sığdırma */
  }
  .cardText {

    font-size: 14px;
  }
}

