.mainContainer {
  display: flex;
  margin-bottom: 3rem;
  
}

.leftContainer {
  width: 20%;
  color: #fff;
  padding: 20px;
  padding-top: 30px;

}

.rightContainer {
  width: 80%;
  padding: 20px;
  padding-top: 30px;
}


.cardContainer {
  display: flex;  /* Kartları yatay olarak düzenle */
  flex-wrap: wrap; /* Kartlar sığmadığında alt satıra geç */
  gap: 30px; /* Kartlar arasındaki boşluk */
}


/* Card ve "Devamını Gör" Butonu Stilleri (Sağ Taraf) */

.verticalTabs {
  width: 100%;
  background-color: white;
}

.verticalTabsContent {
  width: 100%;
  min-height: 50vh;
  
}



.icerik{         /* sonradan üretildi */
  line-height: 1.5rem;  
}

.icerik p:first-of-type {  /* sonradan üretildi */
  margin-top: 0; 
  padding-top: 0; 
}


.paginationContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorMessage {
  color: #D8000C; /* Hata metninin rengi, daha yumuşak bir kırmızı tonu */
  font-size: 18px; /* Metin boyutu */
  text-align: center; /* Metni ortala */
  padding: 20px; /* İç boşluk */
  border: 1px solid #FFBABA; /* Daha yumuşak bir kırmızı çerçeve */
  border-radius: 8px; /* Köşeleri daha fazla yuvarlat */
  margin: 60px auto; /* Üst ve alttan 20px boşluk, sağ ve solda otomatik merkezleme */
  background-color: #FFD2D2; /* Daha açık bir arka plan rengi, hata mesajını yumuşatır */
  max-width: 80%; /* Maksimum genişlik */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekleyerek derinlik hissi verir */
  transition: all 0.3s ease; /* Pürüzsüz bir geçiş efekti ekler */
}

.errorMessage:hover {
  transform: translateY(-2px); /* Fare ile üzerine gelindiğinde yukarı doğru hafif bir hareket */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Gölgeyi artırır ve daha belirgin hale getirir */
}

.loaderMain {  /* sonradan üretildi */
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 100vh; /* Loader'ın yüksekliğini viewport yüksekliğine eşitle */
}

.loader {
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 60vh; /* Loader'ın yüksekliğini viewport yüksekliğine eşitle */
}


.noDataMessage {
  text-align: center; /* Metni ortalar */
  padding: 20px; /* Çevresine dolgu ekler */
  font-size: 18px; /* Metin boyutunu ayarlar */
  background-color: #2e5077; /* Arka plan rengi */
  color: white;
  border-radius: 8px; /* Kenar yuvarlaklığını ayarlar */
  margin: 60px auto; /* Üst ve alttan boşluk bırakır ve yatayda ortalar */
  max-width: 80%; /* Maksimum genişliği sınırlar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kutu gölgesi ekler */
  border: 1px solid #1e3c5a; /* Kenarlık ekler */
  transition: all 0.3s ease; /* Geçiş efekti ekler */
}

.noDataMessage:hover {
  transform: scale(1.02); /* Fare ile üzerine gelindiğinde büyütme efekti */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Gölgeyi artırır */
}

/* Medya Sorguları */
@media screen and (max-width: 1100px) {

  .mainContainer {
    display: flex;
    flex-direction: column;
  }


  .leftContainer {
    width: 100%;
    text-align: center; /* Banner fotoğrafının altındaki içeriği ortala */
    padding: 10px 20px 0 20px;  /* sonradan eklendi */
  }

  .rightContainer {
    width: 100%;
    padding-top: 30px;
  }

  .verticalTabs {
    width: 100%;
  }

  .cardContainer {
    justify-content: center;
  }


}
