/* Konteyner Stilleri */
.Container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto 2rem;
}

.textContainer {
  margin-bottom: 40px;
}

.textContainer p {
  font-size: 16px;
}

.cardContainer {
  display: grid;
  gap: 30px; /* Kartlar arasındaki boşluk */
  margin: 1rem auto; /* Konteynerin ortalanması */
  
  box-sizing: border-box; /* Padding ve border hesaplamaları için */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Kartları uygun şekilde yerleştirir */
}

.card {
  box-sizing: border-box; /* Kart genişlik hesaplamaları için */
  width: 100%; /* Kart genişliğini konteyner genişliğine göre ayarla */
  max-width: 100%; /* Kartların taşmasını önle */
}

/* Mobil ekranlar için stil */
@media screen and (max-width: 767px) {
  .textContainer {
    margin-bottom: 20px;
  }
  
  .textContainer p {
    font-size: 14px;
  }

  .cardContainer {
    grid-template-columns: 1fr; /* Tek sütun düzeni */
  }
}

/* Tablet ve küçük ekranlar için stil */
@media screen and (min-width: 768px) and (max-width: 1099px) {
  .cardContainer {
    grid-template-columns: repeat(3, 1fr); /* Üç sütun düzeni */
  }
}

/* Büyük ekranlar için stil */
@media screen and (min-width: 1100px) {
  .cardContainer {
    grid-template-columns: repeat(5, 1fr); /* Beş sütun düzeni */
  }
}

/* Hata Mesajı Stilleri */
.errorMessage {
  color: #D8000C; /* Hata metninin rengi, daha yumuşak bir kırmızı tonu */
  font-size: 18px; /* Metin boyutu */
  text-align: center; /* Metni ortala */
  padding: 20px; /* İç boşluk */
  border: 1px solid #FFBABA; /* Daha yumuşak bir kırmızı çerçeve */
  border-radius: 8px; /* Köşeleri daha fazla yuvarlat */
  margin: 60px auto; /* Üst ve alttan 20px boşluk, sağ ve solda otomatik merkezleme */
  background-color: #FFD2D2; /* Daha açık bir arka plan rengi, hata mesajını yumuşatır */
  max-width: 80%; /* Maksimum genişlik */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekleyerek derinlik hissi verir */
  transition: all 0.3s ease; /* Pürüzsüz bir geçiş efekti ekler */
}

.errorMessage:hover {
  transform: translateY(-2px); /* Fare ile üzerine gelindiğinde yukarı doğru hafif bir hareket */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Gölgeyi artırır ve daha belirgin hale getirir */
}

/* Yüklenme Mesajı Stilleri */
.loaderMain {  
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 100vh; /* Loader'ın yüksekliğini viewport yüksekliğine eşitle */
}

.loader {
  display: flex;
  justify-content: center; /* Loader'ı yatay olarak ortala */
  align-items: center; /* Loader'ı dikey olarak ortala */
  height: 40vh; /* Loader'ın yüksekliğini viewport yüksekliğine eşitle */
}

/* Veri Yoksa Mesaj Stilleri */
.noDataMessage {
  text-align: center; /* Metni ortalar */
  padding: 20px; /* Çevresine dolgu ekler */
  font-size: 18px; /* Metin boyutunu ayarlar */
  background-color: #2e5077; /* Arka plan rengi */
  color: white;
  border-radius: 8px; /* Kenar yuvarlaklığını ayarlar */
  margin: 60px auto; /* Üst ve alttan boşluk bırakır ve yatayda ortalar */
  max-width: 80%; /* Maksimum genişliği sınırlar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Kutu gölgesi ekler */
  border: 1px solid #1e3c5a; /* Kenarlık ekler */
  transition: all 0.3s ease; /* Geçiş efekti ekler */
}

.noDataMessage:hover {
  transform: scale(1.02); /* Fare ile üzerine gelindiğinde büyütme efekti */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Gölgeyi artırır */
}
